<!-- Contenedor modal -->
<div class="fixed left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-3/4 w-2/4 bg-white z-50 p-10 rounded-2xl">

    <!-- Icono X para cerrar modal -->
    <div class="relative left-full mr-10 z-50" (click)="closeModal()">
        <i class="fa-solid fa-xmark fa-xl hover:text-red-600 cursor-pointer"></i>
    </div>

<!-- Contenedor  -->
<div class="relative w-full h-full flex justify-center items-center">

    <!-- Titulo -->
    <div class=" absolute w-fit top-0 z-50 text-black text-5xl font-bold uppercase text-custom-font">
        <span>{{pokemonDetail}}</span>

    </div>

    <hr class="absolute top-14 my-5 border-t w-full border-gray-300">


    
    <!-- Imagen-->
    <div class="absolute left-0 w-1/2 flex flex-col items-center">
        <img src={{pokeImg}} alt="" class="h-[80%] w-[80%] object-cover">
    </div>

    <!-- Información -->
    <div class="absolute right-0 w-1/2 h-fit flex flex-col gap-4">
        <span>Weight: {{pokeWeight}}</span>  
        <span>Height: {{pokeHeight}}</span>
        <span class="">Stats: </span>

    


        <div class="flex flex-row gap-3">

            <label class="mr-9 capitalize">{{pokeStatHp}}</label>
            <!-- Barra gris completa w-full -->
                <div class="relative bg-gray-400 w-full h-5 rounded-xl">
                    <!-- Barra azul que marca el porcentaje... w-% -->
                    <div class="absolute bg-cyan-600 h-5 rounded-lg" [ngStyle]="{ 'width.%': pokeStatNumberHp }"></div>                
                </div>
            <label class="flex-grow-0">{{pokeStatNumberHp}}%</label>

        </div>



        <div class="flex flex-row gap-3">

            <label class="mr-3 capitalize">{{pokeStatAttack}}</label>
            <!-- Barra gris completa w-full -->
                <div class="relative bg-gray-400 w-full h-5 rounded-xl">
                    <!-- Barra azul que marca el porcentaje... w-% -->
                    <div class="absolute bg-cyan-600 h-5 rounded-lg" [ngStyle]="{ 'width.%': pokeStatNumberAttack }"></div>                
                </div>
            <label for="">{{pokeStatNumberAttack}}%</label>

        </div>


        <div class="flex flex-row gap-3">

            <label class="capitalize">{{pokeStatDefense}}</label>
            <!-- Barra gris completa w-full -->
                <div class="relative bg-gray-400 w-full h-5 rounded-xl">
                    <!-- Barra azul que marca el porcentaje... w-% -->
                    <div class="absolute bg-cyan-600 h-5 rounded-lg" [ngStyle]="{ 'width.%': pokeStatNumberDefense }"></div>                
                </div>
            <label class="">{{pokeStatNumberDefense}}%</label>

        </div>


        <div class="flex flex-row gap-3">

            <label class="mr-3 capitalize">{{pokeStatSpeed}}</label>
            <!-- Barra gris completa w-full -->
                <div class="relative bg-gray-400 w-full h-5 rounded-xl">
                    <!-- Barra azul que marca el porcentaje... w-% -->
                    <div class="absolute bg-cyan-600 h-5 rounded-lg" [ngStyle]="{ 'width.%': pokeStatNumberSpeed }"></div>                
                </div>
            <label class="">{{pokeStatNumberSpeed}}%</label>

        </div>
 

    </div>

</div>


</div>
