<!-- Contenedor modal -->
<div class="fixed left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 h-3/4 w-2/4 bg-white z-50 p-10 rounded-2xl">

    <!-- Icono X para cerrar modal -->
    <div class="relative left-full mr-10 z-50" (click)="closeModal()">
        <i class="fa-solid fa-xmark fa-xl hover:text-red-600 cursor-pointer"></i>
    </div>

<!-- Contenedor  -->
<div class="relative w-full h-full flex justify-center items-center">

    <!-- Titulo -->
    <div class=" absolute w-fit top-0 z-50 text-black text-5xl font-bold uppercase text-custom-font">
        <span>{{pokemonDetail}}</span>

    </div>

    <hr class="absolute top-14 my-5 border-t w-full border-gray-300">


    
<!-- Imagen y tipos-->
    <div class="absolute left-0 w-1/2 h-96 flex flex-col items-center">
        <img src={{pokeImg}} alt="" class="h-full object-cover">
        
        <!-- <div class="absolute bottom-0 w-fit h-fit space-x-5 text-white">
            
            <span class="{{pokeTypes[0]}} py-2 px-6 rounded-3xl font-bold text-3xl">{{pokeTypes[0]}}</span>
            
            @if (pokeTypes[1]) {
                <span class="{{pokeTypes[1]}} py-2 px-6 rounded-3xl font-bold text-3xl">{{pokeTypes[1]}}</span>
            }

        </div> -->

    </div>

    <!-- Información -->
    <div class="absolute right-0 w-1/3 h-fit flex flex-col gap-4">
        <span>Weight: {{pokeWeight}}</span>  
        <span>Height: {{pokeHeight}}</span>
        <span>Stats: </span>
        <div class="flex flex-row gap-3">
            <label for="">{{pokeStatName.toUpperCase()}}</label>

                <div class="relative bg-gray-300 w-full h-5 rounded-xl">
                    <div class="absolute bg-cyan-500 h-5 w-1/4 rounded-lg"></div>
                </div>

                <label for="">{{pokeStatNumber}}%</label>
        </div>
 

    </div>

</div>


</div>
