    <div class="relative flex items-center w-full h-32">
        <!-- Imagen (Logo) -->
        <div class="absolute left-0">
            <img class="w-1/5" src="https://cdn.icon-icons.com/icons2/851/PNG/512/Pokedex_tool_icon-icons.com_67529.png" alt="Pokedex">
        </div>
    
        <!-- Busqueda -->
        <div class="absolute flex right-0 w-1/4 space-x-4">
            <input type="text" class=" w-4/5 p-4 border border-gray-600 text-black rounded-lg" placeholder="Buscar pokemon..." [(ngModel)]="pokeSearch" (keydown.enter)="search()">
            <button type="button" class="w-fit px-5 bg-green-500 rounded-lg hover:bg-green-600 text-sm" (click)="search()">Search</button>
        </div>

    </div>
